.root {
	-fx-background-color: transparent ;
    -fx-font-size: 14px;
    -fx-border-radius: 6;
    -fx-background-radius: 30;
    -fx-border-width: 3;
    -fx-border-style: solid ;
    -fx-border-color: #a6b5c9,
        linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),
        linear-gradient(#768aa5 0%, #849cbb 5%, #5877a2 50%, #486a9a 51%, #4a6c9b 100%);
}

.title-bar {
    -fx-background-color: linear-gradient(#98a8bd 0%, #8195af 25%, #6d86a4 100%);
    -fx-border-radius: 4;
}

#title-bar-button:hover {
    -fx-background-color: 
        linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),
        #a6b5c9,
        linear-gradient(#768aa5 0%, #849cbb 5%, #5877a2 50%, #486a9a 51%, #4a6c9b 100%);
    -fx-cursor:hand;
}

#title-bar-button:pressed {
	-fx-background-color: 
        #a6b5c9,
        linear-gradient(#768aa5 0%, #849cbb 5%, #5877a2 50%, #486a9a 51%, #4a6c9b 100%),
        linear-gradient(#303842 0%, #3e5577 20%, #375074 100%);
}
#title-bar-button {
    -fx-background-color: 
        #a6b5c9,
        linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),
        linear-gradient(#768aa5 0%, #849cbb 5%, #5877a2 50%, #486a9a 51%, #4a6c9b 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 5 5 5 5;
    -fx-text-fill: #242d35;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor:default ;
}

.title-bar-title-text {
	-fx-background-color: transparent;
	-fx-padding: 2 10 2 18;
	-fx-font-family: "Arial";
	-fx-font-size: 18px;
	-fx-font-weight: bold;
	-fx-text-fill: white;
}

.button:hover {
    -fx-background-color: 
        rgba(0,0,0,0.08),
        linear-gradient(#5a61af, #51536d),
        linear-gradient(#e4fbff 0%,#cee6fb 10%, #a5d3fb 50%, #88c6fb 51%, #d5faff 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 3 3 3 3;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
    -fx-cursor:hand ;
}

.button:pressed {
    -fx-background-color: 
        rgba(0,0,0,0.08),
        linear-gradient(#e4fbff 0%,#cee6fb 10%, #a5d3fb 50%, #88c6fb 51%, #d5faff 100%),
        linear-gradient(#5a61af, #51536d);
        
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 3 3 3 3;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-cursor:hand ;
}

.button {
	-fx-background-color: 
        rgba(0,0,0,0.08),
        linear-gradient(#9a9a9a, #909090),
        linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 3 3 3 3;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
    -fx-cursor:default ;
}